---
- block:

    - name: load variables
      include_vars: "{{ ansible_os_family }}.yml"

    - name: install required packages
      package:
        name: "{{ item }}"
        state: present
      become: yes
      become_user: root
      with_items:
        - "{{ wine_ade45_unzip_pkg_name}}"
        - "{{ wine_ade45_wine_pkg_name }}"

    - name: run wineboot
      command: wine wineboot
      changed_when: false

    - name: install corefonts and dotnet40
      command: winetricks corefonts dotnet40
      args:
        creates: "{{ wine_ade45_prefix }}/drive_c/windows/Microsoft.NET/Framework/v4.0.30319"

    - name: set ddr=gdi
      command: winetricks ddr=gdi
      changed_when: false

    - name: install ADE 4.5.0
      command: "wine {{ wine_ade45_450_installer_path }} /s NSS=2"
      args:
        creates: "{{ wine_ade45_prefix }}/drive_c/Program Files/Adobe/Adobe Digital Editions 4.5"

  environment:
    WINEPREFIX: "{{ wine_ade45_prefix }}"
    WINEARCH: "win32"
  tags:
    - wine-ade45
